*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #6f559c;
}

body{
    background-color: #dcd4eb;
    padding-top: 20px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 72px;
    margin-right: 16px;
    position: absolute;
    top: 20;
    left: 0;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

form{
    display: flex;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
}

form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    padding: 6px;
}

form button{
    background-color: #8a70b7;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin-left: 10px;
}

ul{
    width: 100%;
    justify-content: space-between;
}

ul li{
    cursor: pointer;
    list-style: none;
    text-align: center;
    font-size: 22px;
    padding: 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
}

ul li img{
    height: 26px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}

ul li:hover .check-img{
    opacity: 0.5;
}

.riscado {
    text-decoration: line-through;
    opacity: 0.9;
}
